<section class="form-container">
  <form
    autocomplete="off"
    [formGroup]="taskCreatorForm"
    class="form"
    (ngSubmit)="addTask()"
  >
    <div class="form-group">
      <label class="label" for="task"> Add a task </label>
      <input class="input" type="text" id="task" formControlName="task" />
    </div>
    <button [disabled]="taskCreatorForm.invalid" type="submit" class="button">
      Add
    </button>
  </form>
</section>

<section class="cards-container">
  <ng-container *ngFor="let stage of stages; let i = index">
    <div class="card">
      <h3 class="card-title">{{ stage.name }}</h3>

      <section class="card-tasks-container">
        <ng-container *ngFor="let card of stage.cards; let j = index">
          <div class="stage animate__animated animate__fadeIn">
            <p class="name">{{ card }}</p>
            <div class="buttons-container">
              <button [disabled]="i === 0" class="btn" (click)="moveLeft(i, j)">
                <img
                  src="https://img.icons8.com/fluent/48/000000/left.png"
                  alt="move left"
                />
              </button>
              <button
                [disabled]="i === 3"
                class="btn"
                (click)="moveRight(i, j)"
              >
                <img
                  src="https://img.icons8.com/fluent/48/000000/right.png"
                  alt="move right"
                />
              </button>
              <button class="btn" (click)="delete(i, j)">
                <img
                  src="https://img.icons8.com/fluent/48/000000/delete-sign.png"
                  alt="delete"
                />
              </button>
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </ng-container>
</section>
